@using RestaurantPlay2.Areas.BookNow.ViewModels
@model List<BookingViewModel>



<table id="bookings" class="display" style="width:100%">
	<thead>
		<tr>
			<th>Name</th>
			<th>Position</th>
			<th>Office</th>
			<th>Extn.</th>
			<th>Start date</th>
			<th>Salary</th>
		</tr>
	</thead>
</table>
