

<div class="form-horizontal">
	<div class="row">
		@Html.Action("BookNowForm", "BookNow", new { @area = "BookNow" })
		<hr />
		<h3>Booking Report <i class="fa fa-search pointer"></i></h3>
				
		<br />
		@Html.Action("BookingsForToday", "BookNow", new { @area = "BookNow" })
	</div>
</div>


<style>
	a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
		cursor: pointer;
	}

</style>