@model List<RestaurantPlay2.Areas.ImageItems.ViewModels.ImageCardViewModel>

<div class="container">
    <div class="row page-spacing">
        @foreach (var image in Model)
        {
            @Html.Partial("Presets/_ImageCard", image)
        }
    </div>
</div>
