@using RestaurantPlay2.Areas.ImageCard.ViewModels
@model List<RestaurantPlay2.Areas.ImageCard.ViewModels.ImageCardViewModel>

<h2>Alter Image Cards</h2>

<div class="container">
    @Html.Partial("Presets/_AddImageCardDetails" , new SaveImageCardViewModel())
</div>

<div class="container">
@if (Model.Any())
{
    foreach (var card in Model)     
    {
        @Html.Partial("Presets/_ImageCard", card)
    }
}
</div>

@section Scripts
{
    <script>
        function EditImageCard(imageID) {
            var imgJson = { imageID: imageID };
            $.post("/ImageCard/ImageCard/EditImageCard", imgJson,
                function (data) {
                    $('#DetailTitle').val(data.DetailTitle);
                    $('#DetailSubTitle').val(data.DetailSubTitle);
                    $('#DetailParagraph').val(data.DetailParagraph);
                    //$('#Image').val(data.DetailImagePath);
                    $('#IsActive').prop('checked', data.DetailIsActive);
                    $('#imageID').val(data.ImageId);
                });
        }

    </script>
}
