
<div class="row">
    <div class="blog-container col-sm-12 col-lg-12">
        <h4 class="PostTitle">Post Title</h4>
        <p class="lead">By <a href="#">Some Person</a></p>
        <hr class="blog-line" />
        <p>Posted on <span class="posted-on">21 May 2018 at 12h00</span></p>
        <hr class="blog-line" />
        <img src="/Content/Images/OpenSandwichImage.jpg" alt="Alternate Text" class="blog-img" />
        <br />
        <div class="blog-body">
            <p class="lead">Introduction text some stuff about something or the other... this is just place holder text, better yet lets use Lorem Ipsum like so Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
            <p class="blog-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.
                <br />
                <br />
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!
            </p>

            <p class="closing-statement">Finishing remarks, some random stuff about what was said above and i think we could do better...</p>
            <p class="sign-off">--By some person who wrote this text </p>
        </div>
    </div>
</div>

<style>
    .blog-container {
        border: 1px solid lightgrey;
        border-radius: 5px;
        background-color: #61b6ff26;
    }
    .blog-line {
        margin: 10px 10px;
        border-color: #53b4ec66;
    }
    .lead {
        font-size: 1.25rem;
        font-weight: 300;
    }
    p .blog-container {
        margin-top: 0px;
        margin-bottom: 1rem;
        line-height: 1.5;
    }
    .blog-img {
        margin-bottom: 10px;
        width: 100%;
        height: 300px;
        border-radius: 5px;
    }

    body {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
    }
    p.closing-statement {
        font-weight: 500;
    }
    p.sign-off {
        color: darkslategrey;
        font-weight: 300;
    }
</style>
