
<div class="form-group">
    <div class="col-sm-12">
        <h3>This is the heading</h3>
        <hr />
        <div>
            <img src="/Content/Images/EggsBenedictImage.jpg" alt="Alternate Text" />
        </div>
        <div class="col-sm-12">

        </div>
    </div>    
</div>
