@using RestaurantPlay2.Areas.Content.ViewModels;
@model List<ImageCardViewModel>

<h2>Image Cards</h2>

<div class="container">
    @Html.Partial("Presets/_AddImageCardDetails" , new SaveImageCardViewModel())
</div>

<div class="container">
@if (Model.Any())
{
    foreach (var card in Model)     
    {
        @Html.Partial("Presets/_ImageCard", card)
    }
}
</div>

