@using RestaurantPlay2.Areas.MenuBuilder.ViewModels;
@model List<MenuItemViewModel>

@foreach (var item in Model)
{

    var itemPrice = !item.MenuItemDisplayPrice ? "" : item.MenuItemPrice.ToString();

<div class="col-sm-12">
    @if (ViewBag.IsEdit)
    {
        @Html.ActionLink("Delete", "DeleteMenuItem", "MenuBuilder", new { area = "MenuBuilder", menuItemId = item.MenuItemId}, null)
    }
    <span class="menuItem-header">@item.MenuItemName</span>
    <span class="pull-right menuItem-Text">@itemPrice</span>
    <br />
    <span class="menuItem-Text">@item.MenuItemDescription</span>
    <br />

</div>
}
