
@using RestaurantPlay2.Areas.MenuBuilder.ViewModels
@model List<MenuCategoryViewModel>


@foreach (var category in Model)
{
    <h4>@category.Title</h4>
    @Html.Partial("_MenuItem", category.MenuItems)
    <br/>
}
