
<style>
    .w3-card-4, .w3-hover-shadow:hover {
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    }

    .w3-container .w3-light-grey{
        color: #000 !important;
        background-color: #f1f1f1 !important;
    }
</style>

<div class="form-group">
    <div class="col-sm-6">
        <div class="w3-card-4">
            <header class="w3-container w3-light-grey">
                <h3>John Doe</h3>
            </header>
            <div class="w3-container">
                <hr>
                <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
            </div>
        </div>
    </div>
</div>