@using System.Activities.Statements
@using RestaurantPlay2.Areas.Person.ViewModels
@using RestaurantPlay2.Entities.Person
@model PersonDisplayViewModel

<h2>@Model.PersonName</h2>

@foreach (var person in @Model.Persons)
{
    @Html.Partial("_PersonCard", person)
}