<div class="page-spacing">
    @Html.Action("DisplayCarousel", "ImageCarousel", new { Area = "ImageItems" })
</div>
@Html.Action("GetImageCards", "ImageCard", new {Area= "ImageItems"})

<div class="col-sm-12 col-lg-offset-2 col-lg-8">
		@Html.Action("LatestBlog", "Blogger", new { Area = "Blogger" })
</div>