@using RestaurantPlay2.Areas.ImageItems.ViewModels.ImageCarousel
@model EditCarouselViewModel


@Html.Partial("_CarouselForm", Model.SaveCarouselItem)

<hr />
<h3>Preview Carousel</h3>

@Html.Partial("_CarouselDisplay", Model.CarouselItems)

